.features {
  position: relative;
  padding-bottom: 72px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 190px;
  }
}

.features__title {
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-transform: uppercase;
  color: $main-color;
  @media screen and (min-width: 1200px) {
    font-size: 84px;
  }

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 6px;
    background-color: $accent-color;
    @media screen and (min-width: 1200px) {
      width: 102px;
      height: 6px;
      margin-top: 25px;
    }
  }
}

.features__item-mobile {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(15 / 13);
  color: $main-color;
}

.features__list-mobile {
  width: 100%;
  background-color: transparent;
  margin-top: 36px;
  border-top: 1px solid #1a222222;
  border-bottom: 1px solid #1a222222;
  padding-top: 12px;
  padding-bottom: 12px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.features__list {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.features__item {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(17 / 20);
  color: $main-color;
  margin-bottom: 30px;
}

.features__link {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    font-family: "Gilroy 100", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: calc(17 / 20);
    color: $main-color;
  }
}

.features__wraper--main {
  @media screen and (min-width: 1200px) {
    margin-top: 96px;
    display: flex;
  }
}

.features__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    flex-wrap: nowrap;
  }

  &-left {
    width: 50%;
    margin-right: 0px;
    @media screen and (min-width: 1200px) {
      order: 3;
      max-width: 375px;
    }
  }

  &-right {
    position: relative;
    width: 50%;
    min-height: 144px;
    background-color: $bg-color;
    @media screen and (min-width: 1200px) {
      order: 2;
      width: 486px;
      height: 486px;
      margin-right: 24px;
      margin-left: 24px;
      flex-shrink: 0;
    }
  }
}

.feature__img {
  position: absolute;
  right: 0;
  bottom: 0;
  @media screen and (min-width: 1200px) {
    right: 50px;
  }
}

.feature__title-list {
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: calc(18 / 15);
  text-transform: uppercase;
  color: $main-color;
}

.feature__text {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.55;
  color: $main-color;
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: 1.47;
    margin-top: 28px;
  }

  &-main {
    display: none;
    @media screen and (min-width: 1200px) {
      display: inline-block;
    }
  }
}

.features__submit {
  margin-top: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.features__submit-main {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.features__price {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(13 / 11);
  color: $main-color;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: calc(18 / 15);
  }

  &-acc {
    font-family: "Gilroy 700", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: $main-color;
    @media screen and (min-width: 1200px) {
      font-size: 28px;
      line-height: calc(33 / 28);
    }
  }
}

.features__btn {
  min-width: 196px;
  background: $second-color;
  border: 1px solid $accent-color;
  border-radius: 100px;
  padding: 12px 63px;
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: calc(13 / 11);
  text-transform: uppercase;
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    min-width: 240px;
    padding: 14px 63px;
    font-size: 13px;
    line-height: calc(15 / 13);
  }
}

.feature__img-bottom {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.16));
  @media screen and (min-width: 1200px) {
    left: 10%;
    bottom: -350px;
  }
}
