.footer {
  background-color: $bg-color;
  margin-top: 0;
  text-align: center;
}

.footer__title {
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.75;
  text-transform: uppercase;
  color: $second-color;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 10px;
    background-color: $accent-color;
    margin-left: auto;
    margin-right: auto;
  }
}

.address-footer {
  font-family: "Gilroy 700", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: calc(15 / 13);
  color: $main-color;
  margin-bottom: 6px;
}

.address-footer + p {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: calc(13 / 11);
  color: $main-color;
}
.mobile-contacts-mail {
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(15 / 13);
  color: $main-color;
}

.mobile-contacts-mail + p {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: calc(13 / 11);
  color: $main-color;
  margin-top: 6px;
}

.mobile-contacts-tel + p {
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: calc(13 / 11);
  color: $main-color;
  margin-top: 6px;
}

.address-box,
.tel-box,
.mail-box {
  margin-top: 36px;
}

.copyright {
  margin-top: 36px;
  border-top: 1px solid #1a222222;
  border-bottom: 1px solid #1a222222;
  padding: 16px;

  & p {
    font-family: "Gilroy 100", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: calc(13 / 11);
    color: $main-color;
  }
}

.social {
  margin-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:not(:last-child) {
  margin-right: 18px;
}
