.section {
  margin-top: 50px;
  @media screen and (min-width: 1200px) {
    margin-top: 80px;
  }
}

.container {
  padding: 0 10px;
  position: relative;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    // align-items: baseline;
  }
}

.left-row {
  width: 50%;
  margin-right: 16px;
  @media screen and (min-width: 1200px) {
    width: 455px;
  }
}

.right-row {
  position: relative;
  width: 50%;
  min-height: 144px;
  background-color: $bg-color;
  @media screen and (min-width: 1200px) {
    width: 486px;
    height: 486px;
  }
}

.hero__img {
  position: absolute;
  left: -37px;
  bottom: 0;
  @media screen and (min-width: 1200px) {
    left: -120px;
  }
}

.hero__title {
  font-family: "Gilroy 700", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: $main-color;
  @media screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: calc(70 / 60);
  }
}

.hero__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 10px;
  background-color: $accent-color;
  @media screen and (min-width: 1200px) {
    width: 78px;
    height: 6px;
    margin-top: 14px;
  }
}

.hero__text {
  margin-top: 14px;
  font-family: "Gilroy 100", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: calc(13 / 11);
  color: $main-color;
  @media screen and (min-width: 1200px) {
    font-size: 15px;
    line-height: 1.47;
    margin-top: 24px;
  }
}

.main__btn {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    margin-top: 24px;
    min-width: 240px;
    background: transparent;
    border: 1px solid $accent-color;
    border-radius: 100px;
    padding: 14px 63px;
    font-family: "Gilroy 700", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: calc(15 / 13);
    text-transform: uppercase;
    color: $accent-color;
  }
}
